<!DOCTYPE html>
<html>
<head>
  <title>Refillist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/font-awesome.min.css">
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<div class="navbar navbar-top" style="margin-top: -60px">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <div class="logo_tagline">
          <a href="/" class="brand">
            <img class="header-item" src="/text-refill.png">
          </a>
		  <ul class="nav">
<!--			  	<li class="header-item tagline">Never Run Out!</li>
-->
          <% if user_signed_in? %>
      			<li><a href="#shelf-modal" role="button" data-toggle="modal" id="add-shelf"><i class="icon-plus"></i> Add Shelf</a></li>
    	   </ul>
          <% end %>
        </div>
        <ul class="nav pull-right">
          <!--
          <li><a href="#">Explore</a></li>
          <li class="divider-vertical"></li>
          -->
          <li class="link-top-margin"><a href="#">help</a></li>
          <!--
          <li class="divider-vertical"></li>
          <li><a href="jobs">Jobs</a></li>
          <li class="divider-vertical"></li>
          <li><a href="organizations">Organizations</a></li>
          -->

          <li class="divider-vertical"></li>
          <% if user_signed_in? %>
            <li class="link-top-margin">
                <a><%= current_user.name %></a>
            </li>
            <li class="divider-vertical"></li>
		    <li class="link-top-margin">
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
          <% else %>
            <li>
              <a href="/users/auth/facebook"><img alt="Facebook-button" src="/assets/facebook-button.png" /></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="nav-colors"></div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</div>

<!-- Modal -->
<div id="shelf-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="shelf-ModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="shelf-modalLabel">Add a Shelf</h3>
  </div>
  <div class="modal-body">
    <form id="modal-form">
      <input id="shelf-name" type="text" placeholder="Enter the name for your shelf">
    </form>
    <div class="modal-footer">
      <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <a href="#" id="modal-form-submit" class="btn btn-primary">Create Shelf</a>
    </div>
  </div>
</div>
</body>
<!-- add a shelf script -->
<script>

$(document).ready(function(){
  $('#modal-form-submit').on('click', function(e) {
    e.preventDefault();
    $("#hero-row").remove();
    $.ajax({
      url: "/shelf",
      type: "post",
      data: { name: $("#shelf-name").val() },
      success: function(value) {
        console.log(value.id);
        console.log(value.name);
        $('.app-columns').append('<div class="shelf pull-left" id="' + value.id + '"><button class="close-parent btn">x</button><div class="shelf-header">' + value.name + '</div><div class="shelf-body"><button class="btn add-item" id="add-item-'+value.id+'" style="margin-left: 10px">Add an Item</button></div></div>');
        $('.close-parent').click(function(){
          $(this).parent().remove();
        });
        $('[id^=add-item-]').click(function(){
          $(this).parent().prepend('<div class="item-box temp"><div class="item-title">Create a New Item</div><form><input type="text" placeholder="Enter Item Name" id="item-name"><input type="text" placeholder="Enter Item Description" id="item-description"><input type="text" placeholder="Enter RFID code" id="rfid"><input type="text" placeholder="Paste in image url" id="image-url"><br><button type="Create Item" class="btn btn-primary" id="item-submit">Submit</button><button class="btn close-form">Close</button></form></div>');
          $('.close-form').click(function (){
            $('.temp').remove();
          })
          $('#item-submit').click(function(e) {
            e.preventDefault();
            $.ajax({
            url: "/item",
            type: "post",
            data: { name: $("#item-name").val(), description: $("#item-description").val(), shelfid: $(this).parents(".shelf").attr("id"), rfid: $("#rfid").val(), pic: $("#image-url").val() },
              success: function(value) {
                console.log(value.id);
                console.log(value.name);
                console.log(value.description);
                console.log(value.pic);
                console.log(value.rfid);
                  $('.temp').parent().prepend('<div class="item-box" id="' + value.id + '"><button class="close-parent btn">x</button><div class="item-image pull-left"><img src="' + value.pic + '" style="width:100px"></div><div class="item-title">' + value.name + '</div><div class="item-description clearfix">' + value.description + '</div><div class="item-rfid">' + value.rfid + '<div>This item has <span class="remaining">100</span>% remaining</div></div>');
                  $('.temp').remove();
                  $('.close-parent').click(function(){
                    $(this).parent().remove();
                  });
              },
            });
          });
        });
      },
   
    });

    $('#shelf-modal').modal('hide'); 
  });
});
</script>

</html>
