<!DOCTYPE html>
<html>
<head>
  <title>Refillist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/font-awesome.min.css">
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<div class="navbar navbar-top" style="margin-top: -60px">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <div class="logo_tagline">
          <a href="/" class="brand">
            <img class="header-item" src="/text-refill.png">
          </a>
		  <ul class="nav">
<!--			  	<li class="header-item tagline">Never Run Out!</li>
-->
          <% if user_signed_in? %>
      			<li><a href="#" id="add-shelf"><i class="icon-plus"></i> Add Shelf</a></li>
    	   </ul>
          <% end %>
        </div>
        <ul class="nav pull-right">
          <!--
          <li><a href="#">Explore</a></li>
          <li class="divider-vertical"></li>
          -->
          <li><a href="#">help</a></li>
          <!--
          <li class="divider-vertical"></li>
          <li><a href="jobs">Jobs</a></li>
          <li class="divider-vertical"></li>
          <li><a href="organizations">Organizations</a></li>
          -->

          <li class="divider-vertical"></li>
          <% if user_signed_in? %>
            <li>
                <a><%= current_user.name %></a>
            </li>
            <li class="divider-vertical"></li>
		    <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
          <% else %>
            <li>
              <a href="/users/auth/facebook"><img alt="Facebook-button" src="/assets/facebook-button.png" /></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="nav-colors"></div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</div>
</body>
<script>
$(document).ready(function() {
  $('#add-shelf').click(function() {
    $('.app-columns').append('<div class="shelf"><h2>New Shelf</h2></div>');
});
});
 $(document).ready(function() {
     // if shelf has no id:
     $('.edit_shelf').editable( "/shelf", {
         indicator : 'Saving...',
         tooltip   : 'Click to edit...'
     });

     $('.edit_item_title').editable( "/item_title", {
         indicator : 'Saving...',
         tooltip   : 'Click to edit...'
     });

     $('.edit_item_description').editable('/item_description', { 
         type      : 'textarea',
         cancel    : 'Cancel',
         submit    : 'OK',
         indicator : 'Saving...',
         tooltip   : 'Click to edit...'
     });
 });
     // if shelf as id
     //$('.edit').editable( "/shelf/" + id );
 });
</script>
<script type="text/javascript" src="/jquery.jeditable.min.js"></script>
</html>
