<!DOCTYPE html>
<html>
<head>
  <title>Refillist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="/font-awesome.min.css">
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<div class="navbar navbar-top" style="margin-top: -60px">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <div class="logo_tagline">
          <a href="/" class="brand">
            <img class="header-item" src="/text-refill.png">
          </a>
		  <ul class="nav">
<!--			  	<li class="header-item tagline">Never Run Out!</li>
-->
          <% if user_signed_in? %>
      			<li><a href="#shelf-modal" role="button" data-toggle="modal" id="add-shelf"><i class="icon-plus"></i> Add Shelf</a></li>
    	   </ul>
          <% end %>
        </div>
        <ul class="nav pull-right">
          <!--
          <li><a href="#">Explore</a></li>
          <li class="divider-vertical"></li>
          -->
          <li><a href="#">help</a></li>
          <!--
          <li class="divider-vertical"></li>
          <li><a href="jobs">Jobs</a></li>
          <li class="divider-vertical"></li>
          <li><a href="organizations">Organizations</a></li>
          -->

          <li class="divider-vertical"></li>
          <% if user_signed_in? %>
            <li>
                <a><%= current_user.name %></a>
            </li>
            <li class="divider-vertical"></li>
		    <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
            </li>
          <% else %>
            <li>
              <a href="/users/auth/facebook"><img alt="Facebook-button" src="/assets/facebook-button.png" /></a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="nav-colors"></div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
</div>

<!-- Modal -->
<div id="shelf-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="shelf-ModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="shelf-modalLabel">Add a Shelf</h3>
  </div>
  <div class="modal-body">
    <form id="modal-form">
      <input id="shelf-name" type="text" placeholder="Enter the name for your shelf">
    </form>
    <div class="modal-footer">
      <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <a href="#" id="modal-form-submit" class="btn btn-primary">Create Shelf</a>
    </div>
  </div>
</div>
</body>
<!-- add a shelf script -->
<script>
  $('#modal-form-submit').on('click', function(e) {
    e.preventDefault();
    $.ajax({
      url: "/shelf",
      type: "post",
      data: { name: $("#shelf-name").val() },
      success: function(value) {
        console.log(value.id);
        console.log(value.name);
        $('.app-columns').append('<div class="shelf pull-left" id=' + value.id + '><div class="shelf-header">' + value.name + '</div><button class="btn" href="#item-modal" data-toggle="modal" id="add-item" style="margin-left: 10px">Add an Item</button></div>');
      },
    });
    $('#shelf-modal').modal('hide');    
  });
</script>

<!-- add an item script -->
<script>
  $('#modal-form-submit').on('click', function(e) {
    e.preventDefault();
    $.ajax({
      url: "/item",
      type: "post",
      data: { name: $("#item-name").val() },
      success: function(value) {
        console.log(value.id);
        console.log(value.name);
        $('#the id of the specific shelf').prepend('<div class="item-box" id="' + value.id + '">
        <div class="item-image pull-left"><img src="http://placehold.it/100x100"></div>
        <div class="item-title">' + value.name + '</div>
        <div class="item-description clearfix">Gotta put something in here too</div>
        <div>This item has <span class="remaining">35</span>% remaining</div>
      </div>
      },
    });
    $('#shelf-modal').modal('hide');    
  });
</script>
<!-- <script>
$(document).ready(function() {
  $('#add-shelf').click(function() {
    $('.app-columns').append('<div class="shelf"><h2>New Shelf</h2></div>');
});
});
$(document).ready(function() {
  $('#add-item').click(function() {
    $('.app-columns').prepend('<div <div class="item-box">
        <div class="item-image pull-left"><img src="http://placehold.it/100x100"></div>
        <div class="item-title">Item Title</div>
        <div class="item-description clearfix">Item Description</div>
        <div>This item has <span class="remaining">100</span>% remaining</div>
      </div>');
});
});
</script> -->
</html>
